.products_container {
    max-width: 1236px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.products_container > h1 {
    text-align: center;
    font-size: 2rem;
}
.products_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

@media screen and (min-width: 768px){
    .products_container > h1 {
        text-align: center;
        font-size: 3rem;
    }
}