.btn {
    width: fit-content;
    /* margin: 0px auto; */
    padding: 10px 16px;
    font-size: 1rem;
    color: white;
    background-color: #0A0908;;
    border: none;
    outline: none;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.4);

}