.add_product_container {
    box-sizing: border-box;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 96px);
}

.add_product_container::-webkit-scrollbar {
    display: none;
}

.add_product_form, .other_specs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.add_product_input_box, .add_product_textarea {
    padding: 8px;
}

.add_product_textarea {
    height: 50px;
}

.instructions {
    list-style-type: none;
}

.other_specs_btn {
    cursor: pointer;
    color: rgb(148, 0, 246);
    width: fit-content;
}

.add_product_form > Button {
    background-color: blueviolet;
}

@media screen and (min-width: 768px) {
    .add_product_form {
        max-width: 60%;
    }
}